<div class="display">
  <div class="">
    {{#if result.length}}
      {{#each result}}
       <div class="display-acronym-title"> 
          {{this.acronym}} in {{this.subject_area}} - <a href="/profile" style="font-size: 15px;"> {{this.firstname}}
          </a>
        </div>
        <div class="display-content">
          <p>{{this.meaning}}</p>
          <p>{{this.definition}}</p>
        </div>
      {{/each}}
  </div>
    <div>
      <div class="display-acronym-title">Comments</div>
      {{#if comments.length}}
        {{#with comments as |comment|}}
          {{#each comment}}
            <p class="display-content">{{this.comment}} - <a href="#" style="font-size: 12px;">{{this.firstname}}</a></p>
          {{/each}}
        {{/with}}
      {{/if}}
  </div>
  <div>
      {{#if loggedin}}
      {{#each result}}
        <form action="/comment/{{this.id}}" method="post" class="comment-form">
          <textarea name="comment" placeholder="Add comment" required></textarea>
          <button type="submit">Comment</button>
        </form>
      {{/each}}
    {{/if}}
  </div>
    {{else}}
      <p>No results found.</p>
    {{/if}}
  </div>
</div>