<main>
    <div class="profile">
        <menu class="profile-section">
            <div id="account">Account</div>
            <div id="dashboard">Dashboard</div>
            <div id="acronym">Acronyms</div>
            <div id="edit-profile">Edit profile</div>
        </menu>
        <section id="account-section">
            {{#each user}}
            <p><span>First Name</span><br>{{this.firstname}}</p>
            <p><span>Last Name</span><br>{{this.lastname}}</p>
            <p><span>Email Address</span><br>{{this.email}}</p>  
        {{/each}}
        </section>
        <section id="acronym-section">
            {{#each userAcronyms}}
            <p>{{this.acronym}} in {{this.subject_area}}</p>
        {{/each}}
        </section>

        <section id="dashboard-section">
        <p>Number of acronyms posted: {{totalAcronyms}}</p>
        <p>Number of acronyms posted: {{totalComments}}</p>
        </section>

        <section id="edit-profile-section">
            {{message}}
            {{#each user}}
            <form id="edit-profile-form">
                <input type="hidden" name="_method" value="PUT">
                First Name: <input id="firstname" name="firstname" value="{{this.firstname}}" required/> <br>
                Last Name: <input id="lastname" name="lastname" value="{{this.lastname}}" required/> <br>
                Current Password: <input id="oldPassword" name="oldPassword" /><span style="color: red;"> {{message}}</span><br>
                New Password: <input id="newPassword" name=" newPassword" /><span style="color: red;"> (Leave empty if you don't want to change your password)</span><br>
                <button type="submit" value="submit" id="form-button">Submit</button>
            </form>
            {{/each}}
        </section>
    </div>

    <script>
    var account = document.getElementById('account');
    var accountInfo = document.getElementById('account-section');
    var dashboard = document.getElementById('dashboard');
    var dashboardInfo = document.getElementById('dashboard-section');
    var acronym = document.getElementById('acronym');
    var acronymInfo = document.getElementById('acronym-section');
    var editProfile = document.getElementById('edit-profile');
    var editProfileForm = document.getElementById('edit-profile-section');
    
    accountInfo.style.display = 'none';
    dashboardInfo.style.display = 'none';
    acronymInfo.style.display = 'none';
    editProfileForm.style.display = 'none';

    account.addEventListener('click', displayAccountInfo);
    dashboard.addEventListener('click', displayDashboard);
    acronym.addEventListener('click', displayAcronym);
    editProfile.addEventListener('click', displayEditProfile);

    function displayAccountInfo() {
        accountInfo.style.display = 'block';
        dashboardInfo.style.display = 'none';
        acronymInfo.style.display = 'none';
        editProfileForm.style.display = 'none';
    }

    function displayDashboard() {
        dashboardInfo.style.display = 'block';
        accountInfo.style.display = 'none';
        acronymInfo.style.display = 'none';
        editProfileForm.style.display = 'none';
    }
    function displayAcronym() {
        acronymInfo.style.display = 'block';
        dashboardInfo.style.display = 'none';
        accountInfo.style.display = 'none';
        editProfileForm.style.display = 'none';
    }
    
    function displayEditProfile() {
        editProfileForm.style.display = 'block';
        acronymInfo.style.display = 'none';
        dashboardInfo.style.display = 'none';
        accountInfo.style.display = 'none';
    }

   document.getElementById('edit-profile-form').addEventListener('submit', async function(event) {
    event.preventDefault(); // Prevent form from submitting the traditional way

    const firstname = document.getElementById('firstname').value;
    const lastname = document.getElementById('lastname').value;
    const oldPassword = document.getElementById('oldPassword').value;
    const newPassword = document.getElementById('newPassword').value;

    const data = {
        firstname: firstname,
        lastname: lastname,
        oldPassword: oldPassword,
        newPassword: newPassword,
    };
    try {
        const response = await fetch('/user/edit-profile', {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(data)
        });

        if (!response.ok) {
            throw new Error('Network response was not ok');
        }

        // Handle successful response
        console.log('Profile updated successfully');
    } catch (error) {
        console.error('Error:', error);
    }
});

</script>

</main>